/*CSS BY Erwin Reyes */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink: #D9526F;
    --Dark-gray: #1E1E1E;
    --White: #ffffff;
}

/* GLOBAL STYLES */
body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--Lavender);
    color: var(--Dark-gray);
    max-width: 450px;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header Styles */

header {
    background-color: var(--Purple);
    text-align: center;
}

header nav {
    background-color: var(--Yellow);
    text-align: center;
}

header p {
    color: var(--White);
    margin-top: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 1em;
    margin-top: 10px;
    padding-bottom: 30px;
}

header h1 {
    font-size: 3rem;
    color: var(--White);
    padding-top: 30px;
}

/* Heading Styles */
h1, h2 {
    font-family: "Kavoon", serif;
}

h1 {
    font-size: 3em;
    color: var(--White);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 1.15em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: var(--Purple);
    margin-bottom: 10px;
}

/* Navigation Styles */
nav {
    background-color: var(--Yellow);
    padding: 20px;
    text-align: center;
}

nav h2 {
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: -10px;
}

/* Navigation Links Styles */

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 10px 0;
}

nav a {
    display: block;
    background-color: var(--White);
    color: var(--Purple);
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

/* OUR SERVICES SECTION */

#services {
    background-color: var(--Purple);
    padding: 20px;
}

#services h2 {
    color: var(--White);
    margin: 0;
}

#services h3 {
    color: var(--Yellow);
    margin-bottom: 15px;
}

/* ARTICLE STYLES */
article {
    background-color: var(--White);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

article img {
    margin-bottom: 10px;
}

/* PARAGRAPH STYLES */
p {
    line-height: 1.5;
}

/* WHY CHOOSE US SECTION */
#why-choose-us {
    background-color: var(--Pink);
    padding: 20px;
}

#why-choose-us h2 {
    color: var(--White);
    margin: 0;
}

/* BOX STYLES */
#why-choose-us ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 10px;
    text-align: center;
    font-weight: 800;
}

#why-choose-us li {
    padding: 40px;
    border-radius: 20px;
    font-size: 1em;
}
.personal {
    background-color: var(--Teal);
}

.proven {
    background-color: var(--Lavender);
}

.supportive {
    background-color: var(--Yellow);
}

.flexible {
    background-color: var(--White);
}

/* PRICING SECTION */
#prices {
    background-color: var(--Purple);
    padding: 20px;
}

#prices h2 {
    color: var(--White);
    margin: 0;
}

#prices h3 {
    color: var(--Yellow);
    margin-bottom: 10px;
}

/*TABLE STYLES */

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto 10px;

}

th {
    background-color: var(--Yellow);
    padding: 10px;
    text-transform: uppercase;
}

td {
    border : 2px solid var(--Yellow);
    padding: 10px;
    background-color: var(--White);
}

th, td {
    text-align: center;
}

/*CONTACT SECTION */

#contact {
    background-color: var(--Pink);
    padding: 20px;
    color: var(--White);
}

#contact p {
    color: var(--White);
    margin-top: 10px;
}

/* BUTTON STYLES */
.cta-button {
    background: var(--White);
    display: block;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 5px 5px 0 var(--Dark-gray);
}

footer {
    background: var(--Purple);
    color: var(--White);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-size: 0.8em;
}

footer a {
    color: var(--White);
}